@charset "utf-8";


.st_tree{padding:10px;}
/* 超链接 */
.st_tree a{text-decoration:none;}
/* 鼠标经过的超链接 */
.st_tree a:hover{color:#f33;text-decoration:underline;}
/* 菜单 */
.st_tree ul{padding:10px 30px 18px 30px;margin:0;}
/* 菜单项 */
.st_tree ul li{font-size:15px;color:#222;line-height:18px;cursor:pointer;list-style:none;background:url(../../img/tree-imgs/st_node.gif);background-repeat:no-repeat;padding:0 0 3px 20px;margin-top: 10px;}

/*.st_tree ul li:before{*/
    /*content: "";*/
    /*display: inline-block;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*background: url(../../img/tree-imgs/st_node.gif)background-repeat:no-repeat;*/
    /*border-radius: 50%;*/
/*}*/

/* 子菜单 */
.st_tree ul li ul{}
/* 子菜单项 */
.st_tree ul li ul li{}
/* 子菜单的父节点 */
.st_tree .folder{list-style-image:url(../../img/tree-imgs/st_icon.png);background:url(../../img/tree-imgs/st_folder.gif);background-repeat:no-repeat;padding:0 0 0 20px;}
/* 展开的父节点 */
.st_tree .open{list-style-image:url(../../img/tree-imgs/st_icon_open.png);background:url(../../img/tree-imgs/st_folder_open.gif);background-repeat:no-repeat;padding:0 0 0 20px;}