<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>



    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Title here -->
    <title></title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="CNIT_Team,cnit.pro">
    <meta name="keywords" content="CNIT_Team,cnit.pro">
    <meta name="author" content="CNIT_Team">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />



    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="./img/HeadPhoto.jpg">

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/indexTwostyle.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/common.css" />




</head>

<body>

<div class="outer">

    <!-- Sidebar Start-->
    <!-- Menu for tablets and mobile -->

    <div class="navigation" >
        <a >Menu</a>
    </div>
    <div class="sidebar" style="position: fixed;background-color: lightskyblue;" >
        <!-- Logo of company -->
        <div class="logo text-center" style="width: 15rem;height: 18rem;margin: 3rem auto auto auto;">
            <h1><a href="/">
                    <img src="img/HeadPhoto.jpg" style="width: 80px; height: 80px;border-radius: 4px" alt=""/>
                </a></h1>
            <p style="margin-top: 2rem;">Dalian University of Technology</p>


        </div>

        <div class="sidebar-search">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Text to search">
                    <span class="input-group-btn">
								<button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
							</span>
                </div>
            </form>
        </div>
        <!-- Navigation menu list -->
        <ul class="list-unstyled list">



            <li><a href="/indexTwo#.headHome" class="anchorLink"><i class="fa fa-home scolor" style="color: white;"></i> <span>主页</span></a></li>

            <li><a href="/indexTwo#.ChronologicalOrder" class="anchorLink"><i class="fa fa-files-o"></i> <span>归档</span></a></li>
            <li><a href="/indexTwo#.classByClass" class="anchorLink"><i class="fa fa-bars"></i> <span>分类</span></a></li>
            <li><a href="/indexTwo#.photoes" class="anchorLink"><i class="fa fa-picture-o"></i> <span>相册</span></a></li>
            <li><a href="/indexTwo#.aboutMe" class="anchorLink"><i class="fa fa-user"></i> <span>关于</span></a></li>

        </ul>
        <!-- Social media links -->
        <div class="social">
            <a href="#" class="facebook"><i class="fa fa-weixin"></i></a>
            <!--<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>-->
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>

    <!-- Sidebar End -->

    <!-- Main Start -->

    <div class="main">
        <div class="container">

            <div class="headHome">

                <div class="hero" >
                    <div class="row">
                        <div class="col-md-12 ">
                            <h2>Yun Hao</h2>
                            <p>大连理工大学软件学院&nbsp&nbsp·&nbsp&nbsp软件工程</p>

                        </div>

                    </div>
                </div>
                <hr />
            </div>


            <div id="carousel-example-generic" class="carousel slide carousel-fade" style="padding-top: 60px;height:60rem">

                <div class="container">
                    <div class="row">
                        <!--<div class="col-xs-1"></div>-->

                        <div class="col-xs-12">

                            <div data-spy="scroll" data-target="#navbar-example" data-offset="0" style="height:40rem;overflow:auto; position: relative;margin-left: -3rem;padding-right: 1rem">


                                <div class="art_content">
                                    <ul class="index_arc" >
                                        <li class="index_arc_item">
                                            <a href="#" class="pic">
                                                <img class="lazyload" src="temp/art.jpg" alt="应该选" />
                                            </a>
                                            <h4 class="title"><a href="#">个人博客应该选择什么样的域名和域名后缀</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2017-02-24</span>
                                                <span><a href="#">程序人生</a></span>
                                                <!--<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>-->
                                                <!--<p class="commonts"><i class="Hui-iconfont" title="点击量">&#xe622;</i> <span class="cy_cmt_count">20</span></p>-->
                                            </div>
                                            <div class="desc">不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>
                                        </li>









                                    </ul>
                                </div>

                            </div>
                        </div>

                        <!--<div class="col-xs-1"></div>-->
                    </div>
                </div>


            </div>
        </div>
        <!-- Wrapper for slides End -->



        <!-- Start Hero -->

        <!-- Features End -->



    </div>

    <!-- Footer -->

</div>



</div>	<!-- This end div for main class -->
</div>

<div class="clearfix"></div>


<!-- Scroll to top -->
<!--<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>-->


<!-- Javascript files -->
<!-- jQuery -->

</body>

<script src="js/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<!-- jquery Anchor JS -->
<script src="js/jquery.arbitrary-anchor.js"></script>
<!-- jQuery way points -->
<script src="js/custom.js"></script>
<script>
    window.onload = function () {
        $("title").html("<%=title%>");

//当前窗口得到焦点
        window.onfocus = function() {
            $("title").html("诶，又好了");
            setTimeout(function () {
                $("title").html("<%=title%>");
            },200)

        };

        //当前窗口失去焦点
        window.onblur = function() {
            $("title").html("居然崩溃了！！！");
            //暂停动画或视频
        };

    }

</script>
</html>