<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">
<head>
    <title>出错了！ | 李云皓的博客</title>

    <link rel="shortcut icon" href="./img/HeadPhoto.jpg">
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Smart Error Page Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->

    <!-- css files -->
    <link href="css/error-style.css" rel="stylesheet" type="text/css" media="all">
    <!-- //css files -->

    <!-- online-fonts -->
    <link href="http://fonts.googleapis.com/css?family=Ropa+Sans:400,400i&amp;subset=latin-ext" rel="stylesheet">

    <!--jquery -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<div class="header">
    <h1> ERROR </h1>
</div>
<div class="w3-main">
    <div class="agile-info">
        <h3>SORRY</h3>
        <h2>4<img src="images/confused.gif" alt="image">4</h2>
        <p>What are you asking for?</p>


        <a href="javascript:history.go(-1);">Go Back</a>
    </div>
</div>
<div class="footer-w3l">
</div>

</body>

<script>
    window.onload = function () {
        $("title").html("error");


//当前窗口得到焦点
        window.onfocus = function() {
            $("title").html("诶，又好了");
            setTimeout(function () {
                $("title").html("出错了！ | 李云皓的博客");
            },300)

        };

        //当前窗口失去焦点
        window.onblur = function() {
            $("title").html("居然崩溃了！");
            //暂停动画或视频
        };

    }

</script>
</html>