
<html>
<head>
    <meta charset="UTF-8">
    <title>消消乐</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../games/XiaoXiaoLe/css/style.css"/>
</head>

<body>
<ul id="ul1">
</ul>
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="../../games/XiaoXiaoLe/js/index.js"></script>
</body>

</script><script type="text/javascript">

        $("title").html("<%=title%>");

//当前窗口得到焦点
        window.onfocus = function() {
            $("title").html("诶，又好了");
            setTimeout(function () {
                $("title").html("<%=title%>");
            },300)

        };

        //当前窗口失去焦点
        window.onblur = function() {
            $("title").html("居然崩溃了！！！");
            //暂停动画或视频
        };


</script>
</html>
