<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="../../games/SheJiYouXiOne/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="../../img/HeadPhoto.ico">
    <title></title>
</head>
<body>
<div class="startView" id="startView">
    Aircraft Game
    <button id="startBtn">START</button>
</div>
<div class="bodyBg" id="bodyBg">
    <h1 id="score">score:0</h1>
    <div id="myFly"></div>
</div>
<div class="gameOver" id="gameOver">
    GAME OVER!
    <h1 id="iverScore">score:0</h1>
    <button id="restart">RESTART</button>
</div>
<script type="text/javascript" src="../../games/SheJiYouXiOne/js/main.js"></script>
</body>

</script><script type="text/javascript">

        $("title").html("<%=title%>");

//当前窗口得到焦点
        window.onfocus = function() {
            $("title").html("诶，又好了");
            setTimeout(function () {
                $("title").html("<%=title%>");
            },300)

        };

        //当前窗口失去焦点
        window.onblur = function() {
            $("title").html("居然崩溃了！！！");
            //暂停动画或视频
        };


</script>

</html>