<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html, charset=UTF-8" />
    <title>五子棋</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="../../img/HeadPhoto.ico">
    <style>
        #c1 {
            display: block;
            margin: 60px auto;
            box-shadow: 1px 1px 5px #000000;
        }
    </style>
    <script src="../../games/WuZiQi/js/index.js"></script>

</head>

<body>
<canvas id="c1" width="450px" height="450px"></canvas>
</body>
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">

        $("title").html("<%=title%>");

//当前窗口得到焦点
        window.onfocus = function() {
            $("title").html("诶，又好了");
            setTimeout(function () {
                $("title").html("<%=title%>");
            },300)

        };

        //当前窗口失去焦点
        window.onblur = function() {
            $("title").html("居然崩溃了！！！");
            //暂停动画或视频
        };


</script>

</html>
