<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><%=title %></title>
    <!--<meta http-equiv="content-type" content="text/html; charset=utf-8" />-->
    <!--<meta name="description" content="" />-->
    <!--<meta name="keywords" content="" />-->
    <!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
    <script src="/js/skel.min.js"></script>
    <script src="/js/init.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/init.js"></script>
    <noscript>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>

        <link rel="stylesheet"  type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet"  type="text/css" href="css/skel.css" />
        <link rel="stylesheet"  type="text/css" href="css/style.css" />
        <link rel="stylesheet"  type="text/css" href="css/style-wide.css" />
        <link rel="stylesheet"  type="text/css" href="css/style-noscript.css" />
        <link rel="stylesheet"  type="text/css" href="css/fontawesome.css" />

        <link rel="stylesheet" type="text/css" href="plugin/h-ui/css/H-ui.min.css" />
        <link rel="stylesheet" type="text/css" href="plugin/Hui-iconfont/1.0.8/iconfont.min.css" />
        <link rel="stylesheet" type="text/css" href="plugin/pifu/pifu.css" />

    </noscript>
    <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie/v9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->

    <style type="text/css">
        @font-face {
            /*font-family: "YourFont";*/
            src: url(font/fontawesome-webfont.woff2);
        }
    </style>
</head>
<body class="loading">

<div id="wrapper">
    <div id="bg"></div>
    <div id="overlay"></div>
    <div id="main">

        <!-- Header -->
        <header id="header">
            <h1>YunHaoLi</h1>
            <p>Dalian University of Technology &nbsp;&bull;&nbsp; School of software &nbsp;&bull;&nbsp; Software Engineering</p>
            <nav>
                <ul>
                    <li><a href="https://user.qzone.qq.com/1558198727?source=namecardhoverqzone" class="glyphicon glyphicon-map-marker pull-left balloon"><span>Twitter</span></a></li>
                    <li><a href="https://user.qzone.qq.com/1558198727?source=namecardhoverqzone" class="fa fa-facebook"><span>Facebook</span></a></li>
                    <li><a href="http://blog.csdn.net/L1558198727" class="fa fa-dribbble"><span>Dribbble</span></a></li>
                    <li><a href="https://github.com/1558198727" class="fa fa-github"><span>Github</span></a></li>
                    <li><a href="https://mail.qq.com/" class="fa fa-envelope-o"><span>Email</span></a></li>

                    <li><a href="https://mail.qq.com/" class="fa fa-key"><span>Email</span></a></li>
                    <li><a href="https://mail.qq.com/" class="fa fa-camera"><span>Email</span></a></li>
                    <li><a href="https://mail.qq.com/" class="fa fa-thumb-tack"><span>Email</span></a></li>
                    <li><a href="https://mail.qq.com/" class="fa fa-chain"><span>Email</span></a></li>


                    <!--<li><=data[0].phoneNumber>sfasdf</li>-->
                </ul>
            </nav>
        </header>

        <!-- Footer -->
        <footer id="footer">
            <span class="copyright">&copy; Untitled. Design.</span>
        </footer>

    </div>
</div>
</body>
</html>