<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!--<meta http-equiv="content-type" content="text/html; charset=utf-8" />-->
    <!--<meta name="description" content="" />-->
    <!--<meta name="keywords" content="" />-->
    <!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
    <script src="/js/skel.min.js"></script>
    <script src="/js/init.js"></script>

    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>

        <link rel="stylesheet"  type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet"  type="text/css" href="css/skel.css" />
        <link rel="stylesheet"  type="text/css" href="css/style.css" />
        <link rel="stylesheet"  type="text/css" href="css/style-wide.css" />
        <link rel="stylesheet"  type="text/css" href="css/style-noscript.css" />
        <link rel="stylesheet"  type="text/css" href="css/fontawesome.css" />

        <link rel="stylesheet" type="text/css" href="plugin/h-ui/css/H-ui.min.css" />
        <link rel="stylesheet" type="text/css" href="plugin/Hui-iconfont/1.0.8/iconfont.min.css" />
        <link rel="stylesheet" type="text/css" href="plugin/pifu/pifu.css" />
        <link rel="shortcut icon" href="./img/HeadPhoto.jpg">


    <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie/v9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->

<style type="text/css">
    a,a:hover,a:link,a:visited,a:active{
        text-decoration:none;
    }
</style>
</head>
<body class="loading">

<div id="wrapper">
    <div id="bg"></div>
    <div id="overlay"></div>
    <div id="main">

        <!-- Header -->
        <header id="header">
            <h1>YunHaoLi</h1>
            <p>Dalian University of Technology &nbsp;&bull;&nbsp; School of software &nbsp;&bull;&nbsp; Software Engineering</p>
            <nav>
                <ul>
                    <li><a href="indexTwo" class="fa fa-bars"><span>Index</span></a></li>
                    <li><a href="https://github.com/1558198727" class="fa fa-github"><span>Github</span></a></li>
                    <li><a href="http://blog.csdn.net/l1558198727" class="fa fa-pencil-square-o"><span>CSDN</span></a></li>

                    <li ><a id="QQ"   data-toggle="popover" data-placement="top"    href="#" class="fa fa-qq"><span>QQ</span></a></li>
                    <li><a  id="weixin"   data-toggle="popover" data-placement="top" href="#" class="fa fa-weixin"><span>WeChat</span></a></li>

                    <!--<a id="app" style="background-image:url('./img/HeadPhoto.jpg')" class="btn" data-toggle="popover" data-placement="top"></a>-->


                    <!--<li><a href="https://mail.qq.com/" class="fa fa-key"><span>Email</span></a></li>-->
                    <!--<li><a href="https://mail.qq.com/" class="fa fa-camera"><span>Email</span></a></li>-->
                    <!--<li><a href="https://mail.qq.com/" class="fa fa-thumb-tack"><span>Email</span></a></li>-->
                    <!--<li><a href="https://mail.qq.com/" class="fa fa-chain"><span>Email</span></a></li>-->


                    <!--<li><=data[0].phoneNumber>sfasdf</li>-->
                </ul>
            </nav>
        </header>

        <!-- Footer -->
        <footer id="footer">
            <span class="copyright">&copy;



            </span>
        </footer>

    </div>



</div>
<script>

    window.onload = function() { document.body.className = ''; }
    window.ontouchmove = function() { return false; }
    window.onorientationchange = function() { document.body.scrollTop = 0; }
    window.onload = function () {
        $("title").html("<%=title%>");
        $('#QQ').popover({
            trigger:'hover',
            html:true,
            content:"<img src='./img/message/QQ.jpg' style='width: 10rem;height: 10rem' >"
        });

        $('#weixin').popover({
            trigger : 'hover',
            html:true,
            content:"<img src='./img/message/WeChat.jpg' style='width: 10rem;height: 10rem'>"
        });


//当前窗口得到焦点
        window.onfocus = function() {
            $("title").html("诶，又好了");
            setTimeout(function () {
                $("title").html("我的主页");
            },500)

        };

        //当前窗口失去焦点
        window.onblur = function() {
            $("title").html("居然崩溃了！！！");
            return;
            //暂停动画或视频
        };

    }

</script>
</body>
</html>