<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../index/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../index/css/main.css" />
    <link href="../index/css/bootstrap.popover.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="../img/HeadPhoto.ico">

<style type="text/css">
    a,a:hover,a:link,a:visited,a:active{
        text-decoration:none;
    }
</style>
</head>
<body class="loading">

<div id="wrapper">
    <div id="bg"></div>
    <div id="overlay"></div>
    <div id="main">

        <!-- Header -->
        <header id="header">
            <h1>YunHaoLi</h1>
            <p>Dalian University of Technology &nbsp;&bull;&nbsp; School of software &nbsp;&bull;&nbsp; Software Engineering</p>
            <nav>
                <ul>
                    <li><a href="/indexTwo" class="fa fa-bars"><span>Index</span></a></li>
                    <li><a href="https://github.com/1558198727" class="fa fa-github"><span>Github</span></a></li>
                    <li><a href="http://blog.csdn.net/l1558198727" class="fa fa-pencil-square-o"><span>CSDN</span></a></li>

                    <li ><a id="QQ"   data-toggle="popover" data-placement="top"    href="#" class="fa fa-qq"><span>QQ</span></a></li>
                    <li><a  id="weixin"   data-toggle="popover" data-placement="top" href="#" class="fa fa-weixin"><span>WeChat</span></a></li>

                    <!--<a id="app" style="background-image:url('../index/img/HeadPhoto.jpg')" class="btn" data-toggle="popover" data-placement="top">ggggg</a>-->


                </ul>
            </nav>
        </header>

        <!-- Footer -->
        <footer id="footer">
            <span class="copyright">&copy;



            </span>
        </footer>

    </div>



</div>
<script>

    window.onload = function() { document.body.className = ''; }
    window.ontouchmove = function() { return false; }
    window.onorientationchange = function() { document.body.scrollTop = 0; }
    // window.onload = function () {
        $("title").html("<%=title%>");
        $('#QQ').popover({
            trigger:'hover',
            html:true,
            content:"<img src='../index/css/images/QQ.png' style='width: 7rem;height: 7rem' >"
        });

        $('#weixin').popover({
            trigger : 'hover',
            html:true,
            content:"<img src='../index/css/images/weixin.png' style='width: 7rem;height: 7rem'>"
        });


//当前窗口得到焦点
        window.onfocus = function() {
            $("title").html("诶，又好了");
            setTimeout(function () {
                $("title").html("我的主页");
            },300)

        };

        //当前窗口失去焦点
        window.onblur = function() {
            $("title").html("居然崩溃了！！！");
            return;
            //暂停动画或视频
        };

    // }

</script>

<script type="text/javascript">
    window.onload = function() { document.body.className = ''; }
    window.ontouchmove = function() { return false; }
    window.onorientationchange = function() { document.body.scrollTop = 0; }

</script>
<script type="text/javascript">
    window.onload = function() { document.body.className = ''; }
    window.ontouchmove = function() { return false; }
    window.onorientationchange = function() { document.body.scrollTop = 0; }
</script>
</body>
</html>