<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>



    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Title here -->
    <title></title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="CNIT_Team,cnit.pro">
    <meta name="keywords" content="CNIT_Team,cnit.pro">
    <meta name="author" content="CNIT_Team">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />



    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="./img/HeadPhoto.jpg">
    <!--<link rel="stylesheet" href="/css/SimpleStyle.css">-->
    <!--<link rel="stylesheet" href="/css/custom.css">-->
    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome CSS -->
    <!--<link href="css/indexTwo-font-awesome.min.css" rel="stylesheet">-->

    <link href="css/fontawesome.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link href="css/animate.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/indexTwostyle.css" rel="stylesheet">
    <link href="css/timeLine-default.css" rel="stylesheet">
    <link href="css/timeLine-component.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="plugin/h-ui/css/H-ui.min.css" />-->
    <link rel="stylesheet" type="text/css" href="plugin/Hui-iconfont/1.0.8/iconfont.min.css" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="plugin/pifu/pifu.css" />

    <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie/v9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->

</head>

<body>

<div class="outer">

    <!-- Sidebar Start-->
    <!-- Menu for tablets and mobile -->

    <div class="navigation" >
        <a >Menu</a>
    </div>
    <div class="sidebar" style="position: fixed;background-color: lightskyblue;" >
        <!-- Logo of company -->
        <div class="logo text-center" style="width: 15rem;height: 18rem;margin: 3rem auto auto auto;">
            <h1><a href="#">
                    <img src="img/HeadPhoto.jpg" style="width: 80px; height: 80px;border-radius: 4px" alt=""/>
                </a></h1>
            <p style="margin-top: 2rem;">Dalian University of Technology</p>


        </div>

        <div class="sidebar-search">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Text to search">
                    <span class="input-group-btn">
								<button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
							</span>
                </div>
            </form>
        </div>
        <!-- Navigation menu list -->
        <ul class="list-unstyled list">



            <li><a href="#.head" class="anchorLink"><i class="fa fa-home scolor" style="color: white;"></i> <span>主页</span></a></li>

            <li><a href="#.ChronologicalOrder" class="anchorLink"><i class="fa fa-user scolor"></i> <span>归档</span></a></li>
            <li><a href="#.service" class="anchorLink"><i class="fa fa-retweet scolor"></i> <span>分类</span></a></li>
            <li><a href="#.feature" class="anchorLink"><i class="fa fa-road scolor"></i><span>简介</span></a></li>
            <li><a href="#.testimonial" class="anchorLink"><i class="fa fa-info scolor"></i> <span>加入我们</span></a></li>

        </ul>
        <!-- Social media links -->
        <div class="social">
            <a href="#" class="facebook"><i class="fa fa-weixin"></i></a>
            <!--<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>-->
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>

    <!-- Sidebar End -->

    <!-- Main Start -->

    <div class="main">
        <div class="container">

            <div class="head">

            <div class="hero" >
                <div class="row">
                    <div class="col-md-12 ">
                        <h2>Yun Hao</h2>
                        <p>大连理工大学软件学院&nbsp&nbsp·&nbsp&nbsp软件工程</p>

                    </div>

                </div>
            </div>
            <hr />
            </div>


            <div id="carousel-example-generic" class="carousel slide carousel-fade" style="padding-top: 60px;height:60rem">

                <div class="container">
                    <div class="row">
                        <!--<div class="col-xs-1"></div>-->

                        <div class="col-xs-12">

                            <div data-spy="scroll" data-target="#navbar-example" data-offset="0" style="height:40rem;overflow:auto; position: relative;margin-left: -3rem;padding-right: 1rem">


                                <div class="art_content">
                                    <ul class="index_arc" >
                                        <li class="index_arc_item">
                                            <a href="#" class="pic">
                                                <img class="lazyload" src="temp/art.jpg" alt="应该选" />
                                            </a>
                                            <h4 class="title"><a href="#">个人博客应该选择什么样的域名和域名后缀</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2017-02-24</span>
                                                <span><a href="#">程序人生</a></span>
                                                <!--<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>-->
                                                <!--<p class="commonts"><i class="Hui-iconfont" title="点击量">&#xe622;</i> <span class="cy_cmt_count">20</span></p>-->
                                            </div>
                                            <div class="desc">不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>
                                        </li>

                                        <li class="index_arc_item">
                                            <a href="#" class="pic">
                                                <img class="lazyload" src="temp/art.jpg" alt="应该选" />
                                            </a>
                                            <h4 class="title"><a href="#">个人博客应该选择什么样的域名和域名后缀</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2017-02-24</span>
                                                <span><a href="#">程序人生</a></span>
                                                <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>
                                                <p class="commonts"><i class="Hui-iconfont" title="点击量">&#xe622;</i> <span class="cy_cmt_count">20</span></p>
                                            </div>
                                            <div class="desc">不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>
                                        </li>

                                        <li class="index_arc_item">
                                            <a href="#" class="pic">
                                                <img class="lazyload" src="temp/art.jpg" alt="应该选" />
                                            </a>
                                            <h4 class="title"><a href="#">个人博客应该选择什么样的域名和域名后缀</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2017-02-24</span>
                                                <span><a href="#">程序人生</a></span>
                                                <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>
                                                <p class="commonts"><i class="Hui-iconfont" title="点击量">&#xe622;</i> <span class="cy_cmt_count">20</span></p>
                                            </div>
                                            <div class="desc">不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>
                                        </li>

                                        <li class="index_arc_item">
                                            <a href="#" class="pic">
                                                <img class="lazyload" src="temp/art.jpg" alt="应该选" />
                                            </a>
                                            <h4 class="title"><a href="#">个人博客应该选择什么样的域名和域名后缀</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2017-02-24</span>
                                                <span><a href="#">程序人生</a></span>
                                                <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>
                                                <p class="commonts"><i class="Hui-iconfont" title="点击量">&#xe622;</i> <span class="cy_cmt_count">20</span></p>
                                            </div>
                                            <div class="desc">不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>
                                        </li>

                                        <li class="index_arc_item">
                                            <a href="#" class="pic">
                                                <img class="lazyload" src="temp/art.jpg" alt="应该选" />
                                            </a>
                                            <h4 class="title"><a href="#">个人博客应该选择什么样的域名和域名后缀</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2017-02-24</span>
                                                <span><a href="#">程序人生</a></span>
                                                <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>
                                                <p class="commonts"><i class="Hui-iconfont" title="点击量">&#xe622;</i> <span class="cy_cmt_count">20</span></p>
                                            </div>
                                            <div class="desc">不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>
                                        </li>







                                    </ul>
                                </div>

                            </div>
                        </div>

                        <!--<div class="col-xs-1"></div>-->
                    </div>
                </div>
                <!-- Controls -->

                <!--<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">-->
                <!--<span class="icon-prev"></span>-->
                <!--</a>-->
                <!--<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">-->
                <!--<span class="icon-next"></span>-->
                <!--</a>-->
            </div>
        </div>
        <!-- Wrapper for slides End -->



        <div class="container">

            <!-- Start Hero -->
            <div class="ChronologicalOrder">
            <div class="hero">
                <div class="row">
                    <div class="col-md-12">
                        <h2>All Articles</h2>
                        <p>目前共计有XX篇文章.</p>

                    </div>
                </div>
            </div>
            <hr />
            </div>
            <!-- Hero End -->

            <!-- Start team profile -->
            <div class="team">
                <h3> Time Axis</h3>
                <div class="bor hidden-xs"></div>
                <!--<div class="row">-->
                    <!--<div class="col-xs-12">-->



                        <div class="container" style="">
                            <div class="row">
                                <div class="col-xs-12">

                                        <div class="panel panel-info" style="">

                                            <div class="panel-heading" style="background-color: #6CC6EE;border: none;">
                                                <h4 class="panel-title" style="border: none;">
                                                    <a  data-toggle="collapse" data-parent="#accordion" style="border: none;text-decoration: none;" href="#collapseThree">
                                                        点击我进行展开，再次点击我进行折叠。第 3 部分
                                                    </a>
                                                </h4>
                                            </div>

                                            <div id="collapseThree" class="panel-collapse collapse" style="background-color: #0c59e9;">
                                                <div class="panel-body" style="color: black">
                                                    <ul>
                                                        <li>fdsafsadf</li>
                                                        <li>dsfsaf</li>
                                                        <li>asdfsadf</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                </div>
                            </div>  <!--end row-->

                        </div>




                    <!--</div>-->
<!---->
                <!--</div>-->
            </div>
            <hr />

            <!-- Team profile End -->

            <!-- Services start -->
            <div class="service">
                <h3>Service</h3>
                <div class="bor hidden-xs"></div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <!-- Service item -->
                        <div class="service-item animated">
                            <i class="icon-camera skyblue"></i>
                            <!-- Service item heading -->
                            <h4><a href="#">官方微博</a></h4>
                            <p><a href="http://t.qq.com/cnitpro">CNIT信息安全团队(www.cnit.pro)官方微博。</a>
                                如有问(le)题(zi)请@CNIT信息安全团队,竭尽全力为您“服务”。
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="service-item animated">
                            <i class="icon-envelope nblue"></i>
                            <h4><a href="#">联系方式</a></h4>
                            <p>想加入我们带上自身条件发送至:admin@cnit.pro如果想查水表依然联系:admin@cnit.pro</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="service-item animated">
                            <i class="icon-download blue"></i>
                            <h4><a href="#">交流论坛</a></h4>
                            <p><a href="http://www.cnit.pro/about.html">关于我们</a>邀请码获取：微博、赞助、投稿都可以哦，怎么弄？自己看着办吧！</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="service-item animated">
                            <i class="icon-gamepad green"></i>
                            <h4><a href="#">NOT NULL</a></h4>
                            <p>wo men shi yi ge zeng pai zheng neng liang de tuan dui ,  you fu  li shen me de dou bu yao wang ji wo men you</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <!-- Services End -->

            <!-- Features Start -->

            <div class="feature">
                <h3>Future</h3>
                <div class="bor hidden-xs"></div>
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <!-- Feature item -->
                        <div class="feature-item animated">
                            <i class="icon-gears"></i>
                            <!-- Feature item heading and description -->
                            <h4>抬头望天</h4>
                            <p>脚下踏的是坚实的土地.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="feature-item animated">
                            <i class="icon-refresh"></i>
                            <h4>直视远方</h4>
                            <p>盼望的是遥远的未来.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="feature-item animated">
                            <i class="icon-unlink"></i>
                            <h4>回眸一望 </h4>
                            <p>是逝去的记忆.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="feature-item animated">
                            <i class="icon-puzzle-piece"></i>
                            <h4>未来的路</h4>
                            <p>梦在哪，路在哪！</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr />

            <!-- Features End -->

            <!-- Testimonials Start -->

            <!--加入我们-->

            <!--<div class="testimonial">-->
            <!--<h3>加入我们</h3>-->
            <!--<div class="bor hidden-xs"></div>-->
            <!--<div class="row">-->
            <!--<div class="col-md-4">-->
            <!--&lt;!&ndash; testimonial content &ndash;&gt;-->
            <!--<div class="testimonial-content animated">-->
            <!--&lt;!&ndash; User's image , name and designation &ndash;&gt;-->
            <!--<h4><img src="img/user-xs.jpg" alt="" class="img-responsive img-circle"/>美术设计师<span>, Mei Gong</span></h4>-->
            <!--&lt;!&ndash; User's comment &ndash;&gt;.-->
            <!--<blockquote>-->
            <!--<p>我们需要一个“全能”的美术设计师，不需要技术牛，在线时间比较多、能做个图片什么的足矣，我们需要一个热情有活力的设计师，当然如果是妹子想来也是极好的。</p>-->
            <!--</blockquote>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
            <!--<div class="testimonial-content animated">-->
            <!--<h4><img src="img/user-xs.jpg" alt="" class="img-responsive img-circle"/>Web开发or网络安全<span>,Cheng Xu Yuan</span></h4>-->
            <!--<blockquote>-->
            <!--<p>人品好，技术其次，爱攻城、爱钻研。要求：具备和其他成员交流的能力，能够完成团队分配任务，技术要求，自己觉得屌就可以啦！</p>-->
            <!--</blockquote>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
            <!--<div class="testimonial-content animated">-->
            <!--<h4><img src="img/user-xs.jpg" alt="" class="img-responsive img-circle"/>网站运维<span>, Diao Si</span></h4>-->
            <!--<blockquote>-->
            <!--<p>在线时间长，热爱团队，懂一点点技术，有许多资源，都可以来加入我们的呦。</p>-->
            <!--</blockquote>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <hr />

            <!-- Testimonials End -->


            <!-- Price Table End -->

            <!-- Contact Start -->


            <!-- Address -->

            <!-- Contact End -->

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        <br />
                        <!-- You should not remove the footer link back. -->
                        <p class="text-center">CNIT &copy; by CNIT.PRO  </p>
                        <br />
                    </div>
                </div>
            </footer>

        </div>



    </div>	<!-- This end div for main class -->
</div>

<div class="clearfix"></div>


<!-- Scroll to top -->
<!--<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>-->


<!-- Javascript files -->
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<!-- jquery Anchor JS -->
<script src="js/jquery.arbitrary-anchor.js"></script>
<!-- jQuery way points -->
<script src="js/waypoints.min.js"></script>
<!-- Respond JS for IE8 -->
<script src="js/respond.min.js"></script>
<!-- HTML5 Support for IE -->
<script src="js/html5shiv.js"></script>
<!-- Custom JS -->
<script src="js/custom.js"></script>
</body>

<script>
    window.onload = function () {
        $("title").html("<%=title%>");


//当前窗口得到焦点
        window.onfocus = function() {
            $("title").html("诶，又好了");
            setTimeout(function () {
                $("title").html("<%=title%>");
            },1000)

        };

        //当前窗口失去焦点
        window.onblur = function() {
            $("title").html("居然崩溃了！！！");
            //暂停动画或视频
        };

    }

</script>
</html>