<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><%=title %></title>
    <!--<meta http-equiv="content-type" content="text/html; charset=utf-8" />-->
    <!--<meta name="description" content="" />-->
    <!--<meta name="keywords" content="" />-->
    <!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
    <script src="/js/skel.min.js"></script>
    <script src="/js/init.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/init.js"></script>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>

        <link rel="stylesheet"  type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet"  type="text/css" href="css/skel.css" />
        <link rel="stylesheet"  type="text/css" href="css/style.css" />
        <link rel="stylesheet"  type="text/css" href="css/style-wide.css" />
        <link rel="stylesheet"  type="text/css" href="css/style-noscript.css" />
        <link rel="stylesheet"  type="text/css" href="css/fontawesome.css" />

        <link rel="stylesheet" type="text/css" href="plugin/h-ui/css/H-ui.min.css" />
        <link rel="stylesheet" type="text/css" href="plugin/Hui-iconfont/1.0.8/iconfont.min.css" />
        <link rel="stylesheet" type="text/css" href="plugin/pifu/pifu.css" />
        <link rel="shortcut icon" href="./img/HeadPhoto.jpg">


    <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie/v9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->

<style type="text/css">
    a,a:hover,a:link,a:visited,a:active{
        text-decoration:none;
    }
</style>
</head>
<body class="loading">

<div id="wrapper">
    <div id="bg"></div>
    <div id="overlay"></div>
    <div id="main">

        <!-- Header -->
        <header id="header">
            <h1>YunHaoLi</h1>
            <p>Dalian University of Technology &nbsp;&bull;&nbsp; School of software &nbsp;&bull;&nbsp; Software Engineering</p>
            <nav>
                <ul>
                    <li><a href="indexTwo" class="fa fa-bars"><span>Index</span></a></li>
                    <li><a href="https://github.com/1558198727" class="fa fa-github"><span>Github</span></a></li>
                    <li><a href="http://blog.csdn.net/l1558198727" class="fa fa-pencil-square-o"><span>CSDN</span></a></li>

                    <li ><a id="app"   data-toggle="popover" data-placement="top"    href="#" class="fa fa-qq"><span>QQ</span></a></li>
                    <li><a  id="weixin"   data-toggle="popover" data-placement="top" href="#" class="fa fa-weixin"><span>WeChat</span></a></li>

                    <!--<a id="app" style="background-image:url('./img/HeadPhoto.jpg')" class="btn" data-toggle="popover" data-placement="top"></a>-->


                    <!--<li><a href="https://mail.qq.com/" class="fa fa-key"><span>Email</span></a></li>-->
                    <!--<li><a href="https://mail.qq.com/" class="fa fa-camera"><span>Email</span></a></li>-->
                    <!--<li><a href="https://mail.qq.com/" class="fa fa-thumb-tack"><span>Email</span></a></li>-->
                    <!--<li><a href="https://mail.qq.com/" class="fa fa-chain"><span>Email</span></a></li>-->


                    <!--<li><=data[0].phoneNumber>sfasdf</li>-->
                </ul>
            </nav>
        </header>

        <!-- Footer -->
        <footer id="footer">
            <span class="copyright">&copy;


<!--<a  tabindex="0" class="btn btn-lg btn-info text-warning " role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?" data-style>可消失的弹出框</a>-->

           <!--<button id="myalert" type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">点我弹出/隐藏弹出框</button>-->





            </span>
        </footer>

    </div>



</div>
<script >

//        alert('ss');

            $('#app').popover({
                trigger:'hover',
                html:true,
                content:"<img src='./img/HeadPhoto.jpg'>"
            });

            $('#weixin').popover({
                trigger : 'hover',
                html:true,
                content:"<img src='./img/HeadPhoto.jpg' style='width: 30px;height: 30px'>"
            });


</script>
</body>
</html>