<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>



    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Title here -->
    <title>CnIt_Team|CNIT.PRO</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="CNIT_Team,cnit.pro">
    <meta name="keywords" content="CNIT_Team,cnit.pro">
    <meta name="author" content="CNIT_Team">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="./img/HeadPhoto.jpg">
    <!--<link rel="stylesheet" href="/css/SimpleStyle.css">-->
    <!--<link rel="stylesheet" href="/css/custom.css">-->
    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome CSS -->

    <link href="css/indexTwo-font-awesome.min.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link href="css/animate.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="css/indexTwo-style.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="plugin/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="plugin/Hui-iconfont/1.0.8/iconfont.min.css" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="plugin/pifu/pifu.css" />

</head>

<body>

<div class="outer">

    <!-- Sidebar Start-->
    <!-- Menu for tablets and mobile -->
    <div class="navigation" >
        <a href="#">Menu</a>
    </div>
    <div class="sidebar" style="background-color: lightskyblue;" >
        <!-- Logo of company -->
        <div class="logo text-center" style="width: 15rem;height: 18rem;margin: 3rem auto auto auto;">
            <h1><a href="#">
                    <img src="img/HeadPhoto.jpg" style="width: 80px; height: 80px;border-radius: 4px" alt=""/>
                </a></h1>
            <p style="margin-top: 2rem;">Dalian University of Technology</p>


        </div>

        <div class="sidebar-search">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Text to search">
                    <span class="input-group-btn">
								<button class="btn btn-danger" type="button"><i class="icon-search"></i></button>
							</span>
                </div>
            </form>
        </div>
        <!-- Navigation menu list -->
        <ul class="list-unstyled list">






            <li><a href="#.head" class="anchorLink"><i class="icon-home scolor" style="color: white;"></i> 主页</a></li>

            <li><a href="#.team" class="anchorLink"><i class="icon-user scolor"></i> 归档</a></li>
            <li><a href="#.service" class="anchorLink"><i class="icon-retweet scolor"></i> 分类</a></li>
            <li><a href="#.feature" class="anchorLink"><i class="icon-road scolor"></i>简介</a></li>
            <li><a href="#.testimonial" class="anchorLink"><i class="icon-info scolor"></i> 加入我们</a></li>

        </ul>
        <!-- Social media links -->
        <div class="social">
            <a href="http://www.cnit.pro/forum.php" class="facebook"><i class="icon-facebook"></i></a>
            <a href="http://www.cnit.pro/forum.php" class="twitter"><i class="icon-twitter"></i></a>
            <a href="http://www.cnit.pro/forum.php" class="google"><i class="icon-google-plus"></i></a>
            <a href="http://www.cnit.pro/forum.php" class="linkedin"><i class="icon-linkedin"></i></a>
        </div>
    </div>

    <!-- Sidebar End -->

    <!-- Main Start -->

    <div class="main">
        <div class="container">

            <div class="head">

            <div class="hero" >
                <div class="row">
                    <div class="col-md-12">
                        <h2>WE TEAM</h2>
                        <p>一个新生的团队，年纪很轻，能力很强，笑点很低，效率很高的团队.</p>

                    </div>

                </div>
            </div>
            <hr />
            </div>


            <div id="carousel-example-generic" class="carousel slide carousel-fade" style="padding-top: 60px;height:60rem">

                <div class="container">
                    <div class="row">
                        <!--<div class="col-xs-1"></div>-->

                        <div class="col-xs-12">
                            <!--<nav id="navbar-example " class="navbar navbar-default navbar-static"  style="overflow-y：auto;" role="navigation">-->
                            <!--<div class="container-fluid">-->


                            <!--<div class="navbar-header" >-->
                            <!--<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-js-navbar-scrollspy">-->
                            <!--<span class="sr-only">切换导航</span>-->
                            <!--<span class="icon-bar"></span>-->
                            <!--<span class="icon-bar"></span>-->
                            <!--<span class="icon-bar"></span>-->
                            <!--</button>-->
                            <!--<a class="navbar-brand" href="#">Arctics</a>-->
                            <!--</div>-->



                            <!--</div>-->
                            <!--</nav>-->

                            <div data-spy="scroll" data-target="#navbar-example" data-offset="0" style="height:40rem;overflow:auto; position: relative;margin-left: -3rem;padding-right: 1rem">



                                <!--<h4 id="ios">iOS</h4>-->
                                <!--<p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple-->
                                <!--TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。-->
                                <!--</p>-->
                                <!--<h4 id="svn">SVN</h4>-->
                                <!--<p>Apache Subversion，通常缩写为 SVN，是一款开源的版本控制系统软件。Subversion 由 CollabNet 公司在 2000 年创建。但是现在它已经发展为 Apache Software Foundation 的一个项目，因此拥有丰富的开发人员和用户社区。-->
                                <!--</p>-->
                                <!--<h4 id="jmeter">jMeter</h4>-->
                                <!--<p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。-->
                                <!--</p>-->
                                <!--<h4 id="ejb">EJB</h4>-->
                                <!--<p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。-->
                                <!--</p>-->
                                <!--<h4 id="spring">Spring</h4>-->
                                <!--<p>Spring 框架是一个开源的 Java 平台，为快速开发功能强大的 Java 应用程序提供了完备的基础设施支持。-->
                                <!--</p>-->
                                <!--<p>Spring 框架最初是由 Rod Johnson 编写的，在 2003 年 6 月首次发布于 Apache 2.0 许可证下。-->
                                <!--</p>-->

                                <!--<h4 id="ios">iOS</h4>-->
                                <!--<p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple-->
                                <!--TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。-->
                                <!--</p>-->
                                <!--<h4 id="svn">SVN</h4>-->
                                <!--<p>Apache Subversion，通常缩写为 SVN，是一款开源的版本控制系统软件。Subversion 由 CollabNet 公司在 2000 年创建。但是现在它已经发展为 Apache Software Foundation 的一个项目，因此拥有丰富的开发人员和用户社区。-->
                                <!--</p>-->
                                <!--<h4 id="jmeter">jMeter</h4>-->
                                <!--<p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。-->
                                <!--</p>-->
                                <!--<h4 id="ejb">EJB</h4>-->
                                <!--<p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。-->
                                <!--</p>-->
                                <!--<h4 id="spring">Spring</h4>-->
                                <!--<p>Spring 框架是一个开源的 Java 平台，为快速开发功能强大的 Java 应用程序提供了完备的基础设施支持。-->
                                <!--</p>-->
                                <!--<p>Spring 框架最初是由 Rod Johnson 编写的，在 2003 年 6 月首次发布于 Apache 2.0 许可证下。-->
                                <!--</p>-->

                                <!--<h4 id="ios">iOS</h4>-->
                                <!--<p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple-->
                                <!--TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。-->
                                <!--</p>-->
                                <!--<h4 id="svn">SVN</h4>-->
                                <!--<p>Apache Subversion，通常缩写为 SVN，是一款开源的版本控制系统软件。Subversion 由 CollabNet 公司在 2000 年创建。但是现在它已经发展为 Apache Software Foundation 的一个项目，因此拥有丰富的开发人员和用户社区。-->
                                <!--</p>-->
                                <!--<h4 id="jmeter">jMeter</h4>-->
                                <!--<p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。-->
                                <!--</p>-->
                                <!--<h4 id="ejb">EJB</h4>-->
                                <!--<p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。-->
                                <!--</p>-->
                                <!--<h4 id="spring">Spring</h4>-->
                                <!--<p>Spring 框架是一个开源的 Java 平台，为快速开发功能强大的 Java 应用程序提供了完备的基础设施支持。-->
                                <!--</p>-->
                                <!--<p>Spring 框架最初是由 Rod Johnson 编写的，在 2003 年 6 月首次发布于 Apache 2.0 许可证下。-->
                                <!--</p>-->

                                <!--<h4 id="ios">iOS</h4>-->
                                <!--<p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple-->
                                <!--TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。-->
                                <!--</p>-->
                                <!--<h4 id="svn">SVN</h4>-->
                                <!--<p>Apache Subversion，通常缩写为 SVN，是一款开源的版本控制系统软件。Subversion 由 CollabNet 公司在 2000 年创建。但是现在它已经发展为 Apache Software Foundation 的一个项目，因此拥有丰富的开发人员和用户社区。-->
                                <!--</p>-->
                                <!--<h4 id="jmeter">jMeter</h4>-->
                                <!--<p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。-->
                                <!--</p>-->
                                <!--<h4 id="ejb">EJB</h4>-->
                                <!--<p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。-->
                                <!--</p>-->
                                <!--<h4 id="spring">Spring</h4>-->
                                <!--<p>Spring 框架是一个开源的 Java 平台，为快速开发功能强大的 Java 应用程序提供了完备的基础设施支持。-->
                                <!--</p>-->
                                <!--<p>Spring 框架最初是由 Rod Johnson 编写的，在 2003 年 6 月首次发布于 Apache 2.0 许可证下。-->
                                <!--</p>-->
                                <div class="art_content">
                                    <ul class="index_arc" >
                                        <li class="index_arc_item">
                                            <a href="#" class="pic">
                                                <img class="lazyload" src="temp/art.jpg" alt="应该选" />
                                            </a>
                                            <h4 class="title"><a href="article_detail.html">个人博客应该选择什么样的域名和域名后缀</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2017-02-24</span>
                                                <span><a href="/article-lists/10.html">程序人生</a></span>
                                                <!--<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>-->
                                                <!--<p class="commonts"><i class="Hui-iconfont" title="点击量">&#xe622;</i> <span class="cy_cmt_count">20</span></p>-->
                                            </div>
                                            <div class="desc">不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>
                                        </li>

                                        <li class="index_arc_item">
                                            <a href="#" class="pic">
                                                <img class="lazyload" src="temp/art.jpg" alt="应该选" />
                                            </a>
                                            <h4 class="title"><a href="article_detail.html">个人博客应该选择什么样的域名和域名后缀</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2017-02-24</span>
                                                <span><a href="/article-lists/10.html">程序人生</a></span>
                                                <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>
                                                <p class="commonts"><i class="Hui-iconfont" title="点击量">&#xe622;</i> <span class="cy_cmt_count">20</span></p>
                                            </div>
                                            <div class="desc">不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>
                                        </li>


                                        <li class="index_arc_item no_pic">
                                            <h4 class="title"><a href="/article/5.html">个人博客应该选择什么样的域名和域名后缀</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2个月前</span>
                                                <span><a href="/article-lists/10.html">建站</a></span>
                                                <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276 °</p>
                                                <p class="commonts"><i class="Hui-iconfont" title="点击量">&#xe622;</i> <span id="sourceId::105" class="cy_cmt_count">20</span></p>
                                            </div>
                                            <div class="desc"> 不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>
                                        </li>

                                        <li class="index_arc_item">
                                            <a href="/article/4" class="pic">
                                                <img class="lazyload" src="temp/art.jpg" alt="centos 6.5 nginx安装及配置" >
                                            </a>
                                            <h4 class="title"><a href="/article/4">centos 6.5 nginx安装及配置</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2017-3-15</span>
                                                <span><a href="/article?t=1">程序人生</a></span>
                                                <p class="hits"><i class="Hui-iconfont" title="点击量"></i> 13° </p>
                                                <p class="commonts"><i class="Hui-iconfont" title="评论"></i> <span class="cy_cmt_count">0</span></p>
                                            </div>
                                            <div class="desc">linux环境中nginx安装及配置简要概述。。。</div>
                                        </li>

                                        <li class="index_arc_item">
                                            <a href="#" class="pic">
                                                <img class="lazyload" src="temp/art.jpg" alt="应该选" />
                                            </a>
                                            <h4 class="title"><a href="article_detail.html">个人博客应该选择什么样的域名和域名后缀</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2017-02-24</span>
                                                <span><a href="/article-lists/10.html">程序人生</a></span>
                                                <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>
                                                <p class="commonts"><i class="Hui-iconfont" title="点击量">&#xe622;</i> <span class="cy_cmt_count">20</span></p>
                                            </div>
                                            <div class="desc">不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>
                                        </li>


                                        <li class="index_arc_item no_pic">
                                            <h4 class="title"><a href="/article/5.html">个人博客应该选择什么样的域名和域名后缀</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2个月前</span>
                                                <span><a href="/article-lists/10.html">建站</a></span>
                                                <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276 °</p>
                                                <p class="commonts"><i class="Hui-iconfont" title="点击量">&#xe622;</i> <span id="sourceId::105" class="cy_cmt_count">20</span></p>
                                            </div>
                                            <div class="desc"> 不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>
                                        </li>

                                        <li class="index_arc_item">
                                            <a href="/article/4" class="pic">
                                                <img class="lazyload" src="temp/art.jpg" alt="centos 6.5 nginx安装及配置" >
                                            </a>
                                            <h4 class="title"><a href="/article/4">centos 6.5 nginx安装及配置</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2017-3-15</span>
                                                <span><a href="/article?t=1">程序人生</a></span>
                                                <p class="hits"><i class="Hui-iconfont" title="点击量"></i> 13° </p>
                                                <p class="commonts"><i class="Hui-iconfont" title="评论"></i> <span class="cy_cmt_count">0</span></p>
                                            </div>
                                            <div class="desc">linux环境中nginx安装及配置简要概述。。。</div>
                                        </li>

                                        <li class="index_arc_item">
                                            <a href="#" class="pic">
                                                <img class="lazyload" src="temp/art.jpg" alt="应该选" />
                                            </a>
                                            <h4 class="title"><a href="article_detail.html">个人博客应该选择什么样的域名和域名后缀</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2017-02-24</span>
                                                <span><a href="/article-lists/10.html">程序人生</a></span>
                                                <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>
                                                <p class="commonts"><i class="Hui-iconfont" title="点击量">&#xe622;</i> <span class="cy_cmt_count">20</span></p>
                                            </div>
                                            <div class="desc">不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>
                                        </li>


                                        <li class="index_arc_item no_pic">
                                            <h4 class="title"><a href="/article/5.html">个人博客应该选择什么样的域名和域名后缀</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2个月前</span>
                                                <span><a href="/article-lists/10.html">建站</a></span>
                                                <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276 °</p>
                                                <p class="commonts"><i class="Hui-iconfont" title="点击量">&#xe622;</i> <span id="sourceId::105" class="cy_cmt_count">20</span></p>
                                            </div>
                                            <div class="desc"> 不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>
                                        </li>

                                        <li class="index_arc_item">
                                            <a href="/article/4" class="pic">
                                                <img class="lazyload" src="temp/art.jpg" alt="centos 6.5 nginx安装及配置" >
                                            </a>
                                            <h4 class="title"><a href="/article/4">centos 6.5 nginx安装及配置</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2017-3-15</span>
                                                <span><a href="/article?t=1">程序人生</a></span>
                                                <p class="hits"><i class="Hui-iconfont" title="点击量"></i> 13° </p>
                                                <p class="commonts"><i class="Hui-iconfont" title="评论"></i> <span class="cy_cmt_count">0</span></p>
                                            </div>
                                            <div class="desc">linux环境中nginx安装及配置简要概述。。。</div>
                                        </li>

                                        <li class="index_arc_item">
                                            <a href="#" class="pic">
                                                <img class="lazyload" src="temp/art.jpg" alt="应该选" />
                                            </a>
                                            <h4 class="title"><a href="article_detail.html">个人博客应该选择什么样的域名和域名后缀</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2017-02-24</span>
                                                <span><a href="/article-lists/10.html">程序人生</a></span>
                                                <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276° </p>
                                                <p class="commonts"><i class="Hui-iconfont" title="点击量">&#xe622;</i> <span class="cy_cmt_count">20</span></p>
                                            </div>
                                            <div class="desc">不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>
                                        </li>


                                        <li class="index_arc_item no_pic">
                                            <h4 class="title"><a href="/article/5.html">个人博客应该选择什么样的域名和域名后缀</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2个月前</span>
                                                <span><a href="/article-lists/10.html">建站</a></span>
                                                <p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> 276 °</p>
                                                <p class="commonts"><i class="Hui-iconfont" title="点击量">&#xe622;</i> <span id="sourceId::105" class="cy_cmt_count">20</span></p>
                                            </div>
                                            <div class="desc"> 不论搭建什么样的网站，选择一个好的域名都是很有必要的，选择一个好的域名对网站的意义也是不言而喻的。每一个网站都有之对应的域名，就像人的名字一样。每个人都想自己有个好听的名字，网站也是一样。一个网站可以有多个域名，但是一个域名只能对应一个网站。&nbsp;一、域名要好记，方便输入&nbsp; &nbsp; &nbsp; &nbsp;域名本身的意义就是为了人们方便记忆才使用的，不然都用IP地址就好了。所以，网站域名一定要选择好记忆的。因为域名是</div>
                                        </li>

                                        <li class="index_arc_item">
                                            <a href="/article/4" class="pic">
                                                <img class="lazyload" src="temp/art.jpg" alt="centos 6.5 nginx安装及配置" >
                                            </a>
                                            <h4 class="title"><a href="/article/4">centos 6.5 nginx安装及配置</a></h4>
                                            <div class="date_hits">
                                                <span>老王</span>
                                                <span>2017-3-15</span>
                                                <span><a href="/article?t=1">程序人生</a></span>
                                                <p class="hits"><i class="Hui-iconfont" title="点击量"></i> 13° </p>
                                                <p class="commonts"><i class="Hui-iconfont" title="评论"></i> <span class="cy_cmt_count">0</span></p>
                                            </div>
                                            <div class="desc">linux环境中nginx安装及配置简要概述。。。</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--<div class="col-xs-1"></div>-->
                    </div>
                </div>
                <!-- Controls -->

                <!--<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">-->
                <!--<span class="icon-prev"></span>-->
                <!--</a>-->
                <!--<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">-->
                <!--<span class="icon-next"></span>-->
                <!--</a>-->
            </div>
        </div>
        <!-- Wrapper for slides End -->



        <div class="container">

            <!-- Start Hero -->

            <div class="hero">
                <div class="row">
                    <div class="col-md-12">
                        <h2>WE TEAM</h2>
                        <p>一个新生的团队，年纪很轻，能力很强，笑点很低，效率很高的团队.</p>

                    </div>
                </div>
            </div>
            <hr />
            <!-- Hero End -->

            <!-- Start team profile -->
            <div class="team">
                <h3> Time Axis</h3>
                <div class="bor hidden-xs"></div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!-- Team member's profile  -->
                        <div class="thumbnail team-profile">
                            <img src="img/user1.jpg" alt="" class="img-responsive img-circle" />
                            <!-- Member's name and designation -->
                            <h5>为国风</h5>
                            <span>江湖人称卫生巾</span>
                            <div class="social-link">
                                <a href="#" class="facebook"><i class="icon-facebook"></i></a>
                                <a href="#" class="google"><i class="icon-google-plus"></i></a>
                                <a href="#" class="twitter"><i class="icon-twitter"></i></a>
                                <a href="#" class="linkedin"><i class="icon-linkedin"></i></a>
                                <a href="#" class="skype"><i class="icon-skype"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail team-profile">
                            <img src="img/user2.jpg" alt="" class="img-responsive img-circle" />
                            <h5>宝宝</h5>
                            <span>团队里唯一的萌妹子</span>
                            <div class="social-link">
                                <a href="#" class="facebook"><i class="icon-facebook"></i></a>
                                <a href="#" class="google"><i class="icon-google-plus"></i></a>
                                <a href="#" class="twitter"><i class="icon-twitter"></i></a>
                                <a href="#" class="linkedin"><i class="icon-linkedin"></i></a>
                                <a href="#" class="skype"><i class="icon-skype"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail team-profile">
                            <img src="img/user3.jpg" alt="" class="img-responsive img-circle" />
                            <h5>伤心的瘦子</h5>
                            <span>效率很高的伪"胖子"</span>
                            <div class="social-link">
                                <a href="#" class="facebook"><i class="icon-facebook"></i></a>
                                <a href="#" class="google"><i class="icon-google-plus"></i></a>
                                <a href="#" class="twitter"><i class="icon-twitter"></i></a>
                                <a href="#" class="linkedin"><i class="icon-linkedin"></i></a>
                                <a href="#" class="skype"><i class="icon-skype"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail team-profile">
                            <img src="img/user4.jpg" alt="" class="img-responsive img-circle" />
                            <h5>Ra8er</h5>
                            <span>除了有点二，其他还能入眼</span>
                            <div class="social-link">
                                <a href="#" class="facebook"><i class="icon-facebook"></i></a>
                                <a href="#" class="google"><i class="icon-google-plus"></i></a>
                                <a href="#" class="twitter"><i class="icon-twitter"></i></a>
                                <a href="#" class="linkedin"><i class="icon-linkedin"></i></a>
                                <a href="#" class="skype"><i class="icon-skype"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail team-profile">
                            <img src="img/u0.jpg" alt="" class="img-responsive img-circle" />
                            <h5>Zer0ne</h5>
                            <span>自称十三少，爱妹子</span>
                            <div class="social-link">
                                <a href="#" class="facebook"><i class="icon-facebook"></i></a>
                                <a href="#" class="google"><i class="icon-google-plus"></i></a>
                                <a href="#" class="twitter"><i class="icon-twitter"></i></a>
                                <a href="#" class="linkedin"><i class="icon-linkedin"></i></a>
                                <a href="#" class="skype"><i class="icon-skype"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail team-profile">
                            <img src="img/wenhao.jpg" alt="" class="img-responsive img-circle" />
                            <h5>你的位置</h5>
                            <span>期待您的加入!!!</span>
                            <div class="social-link">
                                <a href="#" class="facebook"><i class="icon-facebook"></i></a>
                                <a href="#" class="google"><i class="icon-google-plus"></i></a>
                                <a href="#" class="twitter"><i class="icon-twitter"></i></a>
                                <a href="#" class="linkedin"><i class="icon-linkedin"></i></a>
                                <a href="#" class="skype"><i class="icon-skype"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail team-profile">
                            <img src="img/wenhao.jpg" alt="" class="img-responsive img-circle" />
                            <h5>你的位置</h5>
                            <span>期待您的加入!!!</span>
                            <div class="social-link">
                                <a href="#" class="facebook"><i class="icon-facebook"></i></a>
                                <a href="#" class="google"><i class="icon-google-plus"></i></a>
                                <a href="#" class="twitter"><i class="icon-twitter"></i></a>
                                <a href="#" class="linkedin"><i class="icon-linkedin"></i></a>
                                <a href="#" class="skype"><i class="icon-skype"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail team-profile">
                            <img src="img/wenhao.jpg" alt="" class="img-responsive img-circle" />
                            <h5>你的位置</h5>
                            <span>期待您的加入!!!</span>
                            <div class="social-link">
                                <a href="#" class="facebook"><i class="icon-facebook"></i></a>
                                <a href="#" class="google"><i class="icon-google-plus"></i></a>
                                <a href="#" class="twitter"><i class="icon-twitter"></i></a>
                                <a href="#" class="linkedin"><i class="icon-linkedin"></i></a>
                                <a href="#" class="skype"><i class="icon-skype"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />

            <!-- Team profile End -->

            <!-- Services start -->
            <div class="service">
                <h3>Service</h3>
                <div class="bor hidden-xs"></div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <!-- Service item -->
                        <div class="service-item animated">
                            <i class="icon-camera skyblue"></i>
                            <!-- Service item heading -->
                            <h4><a href="#">官方微博</a></h4>
                            <p><a href="http://t.qq.com/cnitpro">CNIT信息安全团队(www.cnit.pro)官方微博。</a>
                                如有问(le)题(zi)请@CNIT信息安全团队,竭尽全力为您“服务”。
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="service-item animated">
                            <i class="icon-envelope nblue"></i>
                            <h4><a href="#">联系方式</a></h4>
                            <p>想加入我们带上自身条件发送至:admin@cnit.pro如果想查水表依然联系:admin@cnit.pro</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="service-item animated">
                            <i class="icon-download blue"></i>
                            <h4><a href="#">交流论坛</a></h4>
                            <p><a href="http://www.cnit.pro/about.html">关于我们</a>邀请码获取：微博、赞助、投稿都可以哦，怎么弄？自己看着办吧！</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="service-item animated">
                            <i class="icon-gamepad green"></i>
                            <h4><a href="#">NOT NULL</a></h4>
                            <p>wo men shi yi ge zeng pai zheng neng liang de tuan dui ,  you fu  li shen me de dou bu yao wang ji wo men you</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <!-- Services End -->

            <!-- Features Start -->

            <div class="feature">
                <h3>Future</h3>
                <div class="bor hidden-xs"></div>
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <!-- Feature item -->
                        <div class="feature-item animated">
                            <i class="icon-gears"></i>
                            <!-- Feature item heading and description -->
                            <h4>抬头望天</h4>
                            <p>脚下踏的是坚实的土地.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="feature-item animated">
                            <i class="icon-refresh"></i>
                            <h4>直视远方</h4>
                            <p>盼望的是遥远的未来.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="feature-item animated">
                            <i class="icon-unlink"></i>
                            <h4>回眸一望 </h4>
                            <p>是逝去的记忆.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="feature-item animated">
                            <i class="icon-puzzle-piece"></i>
                            <h4>未来的路</h4>
                            <p>梦在哪，路在哪！</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr />

            <!-- Features End -->

            <!-- Testimonials Start -->

            <!--加入我们-->

            <!--<div class="testimonial">-->
            <!--<h3>加入我们</h3>-->
            <!--<div class="bor hidden-xs"></div>-->
            <!--<div class="row">-->
            <!--<div class="col-md-4">-->
            <!--&lt;!&ndash; testimonial content &ndash;&gt;-->
            <!--<div class="testimonial-content animated">-->
            <!--&lt;!&ndash; User's image , name and designation &ndash;&gt;-->
            <!--<h4><img src="img/user-xs.jpg" alt="" class="img-responsive img-circle"/>美术设计师<span>, Mei Gong</span></h4>-->
            <!--&lt;!&ndash; User's comment &ndash;&gt;.-->
            <!--<blockquote>-->
            <!--<p>我们需要一个“全能”的美术设计师，不需要技术牛，在线时间比较多、能做个图片什么的足矣，我们需要一个热情有活力的设计师，当然如果是妹子想来也是极好的。</p>-->
            <!--</blockquote>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
            <!--<div class="testimonial-content animated">-->
            <!--<h4><img src="img/user-xs.jpg" alt="" class="img-responsive img-circle"/>Web开发or网络安全<span>,Cheng Xu Yuan</span></h4>-->
            <!--<blockquote>-->
            <!--<p>人品好，技术其次，爱攻城、爱钻研。要求：具备和其他成员交流的能力，能够完成团队分配任务，技术要求，自己觉得屌就可以啦！</p>-->
            <!--</blockquote>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
            <!--<div class="testimonial-content animated">-->
            <!--<h4><img src="img/user-xs.jpg" alt="" class="img-responsive img-circle"/>网站运维<span>, Diao Si</span></h4>-->
            <!--<blockquote>-->
            <!--<p>在线时间长，热爱团队，懂一点点技术，有许多资源，都可以来加入我们的呦。</p>-->
            <!--</blockquote>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <hr />

            <!-- Testimonials End -->


            <!-- Price Table End -->

            <!-- Contact Start -->


            <!-- Address -->

            <!-- Contact End -->

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        <br />
                        <!-- You should not remove the footer link back. -->
                        <p class="text-center">CNIT &copy; by CNIT.PRO  </p>
                        <br />
                    </div>
                </div>
            </footer>

        </div>



    </div>	<!-- This end div for main class -->
</div>

<div class="clearfix"></div>


<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>


<!-- Javascript files -->
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<!-- jquery Anchor JS -->
<script src="js/jquery.arbitrary-anchor.js"></script>
<!-- jQuery way points -->
<script src="js/waypoints.min.js"></script>
<!-- Respond JS for IE8 -->
<script src="js/respond.min.js"></script>
<!-- HTML5 Support for IE -->
<script src="js/html5shiv.js"></script>
<!-- Custom JS -->
<script src="js/custom.js"></script>
</body>
</html>