
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/user.css" type="text/css" rel="stylesheet" />
    <title>login</title>
</head>
<body>
    <div class="user-body-bg"></div>
    <div class="user-login-bg"></div>
    <div class="user-bottom-bg"></div>
    <div class="login-box">
        <form action="" >
            <label class="form-inline">
                <div class="form-inline-font">
                    Username :
                </div>
                <div class="form-inline-input">
                    <input type="text"  id="phoneNumber" value="" maxlength="8"/>
                    <!-- <input type="text" placeholder="请输入手机号" > -->
                </div>
            </label>
            <label class="form-inline">
                <div class="form-inline-font">
                    Password :
                </div>
                <div class="form-inline-input">
                    <input type="password"  id="password" value="" maxlength="16" />
                    <!-- <input type="password" placeholder="请输入密码" > -->
                </div>
            </label>
            <label class="form-inline">
                <div class="form-inline-font">
                    Verification :
                </div>
                <div class="form-inline-input">
                    <div class="code-box" id="code-box">
                        <input type="text"  class="code-input" />
                        <p></p>
                        <span>>>></span>
                    </div>
                </div>
            </label>
            
            <div class="login-btn">
                <div class="user-btn-link">
                    <!--<a href="">密码找回</a> moveCode('4664');-->
                </div>
                <button type="submit" onclick="sub1()">submit</button>
            </div>
        </form>
    </div>
</body>
<script src="/js/login.js"></script>
<script>

    window.addEventListener('load',function(){

        //code是后台传入的验证字符串
        var code = "jsaidaisd656",
            codeFn = new moveCode();
        
        //获取当前的code值
        //console.log(codeFn.getCode());

        //改变code值
        //code = '46asd546as5';
        //codeFn.setCode(code);
        
        //重置为初始状态
        //codeFn.resetCode();
    });
</script>


<script src="/js/jquery.min.js"></script>
<script type="text/javascript">

    /*var data={
        phoneNumber:document.getElementById("phoneNumber").value,
        password:document.getElementById("password").value

    }*/
    function sub1(){
        var userName=$("#phoneNumber").val();
        var passWord=$("#password").val();
        alert("用户名"+userName+"\n"+"密码"+passWord);

        $.ajax({
            type:"POST",
            url:"/users/login",
            dataType:"json",
            data:{
                phoneNumber:$("#phoneNumber").val(),
                password:$("#password").val()
            },
            success:function(data){
                console.log("data"+data.status)
                if(data.status===true){
                    alert("登录成功！");
                    location.href="/";
                }
                else{
                    alert("登录失败！");
                }
            }

        })
    }
</script>
</html>