<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">
<head>
    <title></title>
    <!-- Meta tag Keywords -->
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="http://liyunhao.cn/users/login" data-redirecturi="http://liyunhao.cn/index" charset="utf-8"></script>

</head>
<body>


    <span id="qqLoginBtn"></span>




<script type="text/javascript">

/*  |xGv00|c41a0054e10e6c99d6396d40e369e1a0 */
    //调用QC.Login方法，指定btnId参数将按钮绑定在容器节点中
    QC.Login({
            //btnId：插入按钮的节点id，必选
            btnId:"qqLoginBtn"
            //用户需要确认的scope授权项，可选，默认all
//            scope:"all",
//            //按钮尺寸，可用值[A_XL| A_L| A_M| A_S|  B_M| B_S| C_S]，可选，默认B_S
//            size: "A_XL"
        }, function(reqData, opts){//登录成功
            //根据返回数据，更换按钮显示状态方法
            var dom = document.getElementById('qqLoginBtn'),
                _logoutTemplate=[
                    //头像
                    '<span><img src="{figureurl}" class="{size_key}"/></span>',
                    //昵称
                    '<span>{nickname}</span>',
                    //退出
                    '<span><a href="javascript:QC.Login.signOut();">退出</a></span>'
                ].join("");
            dom && (dom.innerHTML = QC.String.format(_logoutTemplate, {
                nickname : QC.String.escHTML(reqData.nickname), //做xss过滤
                figureurl : reqData.figureurl
            }));
        }, function(opts){//注销成功
            alert('QQ登录 注销成功');
        }
    );
</script>


</body>
</html>