<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../indexTwo/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../blogDetail/css/default.min.css">
    <script src="../../blogDetail/js/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!--<link rel="stylesheet" href="/css/doc.css">-->
    <script src="../../indexTwo/js/jquery.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="../../img/HeadPhoto.ico">
    <link href="../../indexTwo/css/indexTwostyle.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../../blogDetail/css/common.css" />

    <link rel="stylesheet" type="text/css" href="../../blogDetail/css/github-markdown.css">


</head>

<body>

<div class="outer" style="padding-bottom: none;">

    <!-- Sidebar Start-->
    <!-- Menu for tablets and mobile -->

    <div class="navigation" >
        <a >Menu</a>
    </div>
    <div class="sidebar" style="position: fixed;background-color: lightskyblue;" >
        <!-- Logo of company -->
        <div class="logo text-center" style="width: 15rem;height: 18rem;margin: 3rem auto auto auto;">
            <h1><a href="/">
                    <img src="../img/HeadPhoto.jpg" style="width: 80px; height: 80px;border-radius: 4px" alt=""/>
                </a></h1>
            <p style="margin-top: 2rem;">Dalian University of Technology</p>


        </div>

        <div class="sidebar-search">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Text to search">
                    <span class="input-group-btn">
								<button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
							</span>
                </div>
            </form>
        </div>
        <!-- Navigation menu list -->
        <ul class="list-unstyled list">



            <li><a href="/indexTwo#.headHome" class="anchorLink"><i class="fa fa-home scolor" style="color: white;"></i> <span>主页</span></a></li>

            <li><a href="/indexTwo#.ChronologicalOrder" class="anchorLink"><i class="fa fa-files-o"></i> <span>归档</span></a></li>
            <li><a href="/indexTwo#.classByClass" class="anchorLink"><i class="fa fa-bars"></i> <span>分类</span></a></li>
            <li><a href="/indexTwo#.photoes" class="anchorLink"><i class="fa fa-picture-o"></i> <span>相册</span></a></li>
            <li><a href="/indexTwo#.aboutMe" class="anchorLink"><i class="fa fa-user"></i> <span>关于</span></a></li>

        </ul>
        <!-- Social media links -->
        <div class="social">
            <a href="/users/qqLogin" class="facebook"><i class="fa fa-qq"></i></a>
            <!--<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>-->
            <a href="#" class="twitter"><i class="fa fa-graduation-cap"></i></a>
            <a href="#" class="google"><i class="fa fa-weibo"></i></a>
            <a href="/games/" class="linkedin"><i class="fa fa-gamepad"></i></a>
        </div>
    </div>

    <!-- Sidebar End -->

    <!-- Main Start -->

    <div class="main">
        <div class="container">

            <div class="headHome">

                <div class="hero" >
                    <div class="row">
                        <div class="col-md-12 ">
                            <h2>Yun Hao</h2>
                            <p>大连理工大学软件学院&nbsp&nbsp·&nbsp&nbsp软件工程</p>
                        </div>

                    </div>
                </div>
                <hr />
            </div>

            <div id="carousel-example-generic" class="carousel slide carousel-fade" style="padding-top: 60px;height:60rem">
                <div class="container">
                    <div class="row">
                        <!--<div class="col-xs-1"></div>-->

                        <div class=".col-xs-12 .col-sm-6 .col-md-6">

                            <div class="panel panel-default  mb-20">

                                <strong class="panel-body pt-10 pb-10">
                                    <h2 class="c_titile"><data.currBlog.Title></h2>
                                    <p class="box_c"><span class="d_time"><data.currBlog.Date></span><span>编辑：<a href="">wilco</a></span><span>阅读（88646）</span></p>
                                    <ul class="infos">
                                        <article class="markdown-body">

                                            <%data.forEach(function (item) {%>

                                                <a href="<%=item.itemHref%>"><h5><%=item.itemTitle%></h5></a>

                                            <%}) %>

                                        </article>
                                    </ul>

                                    <div class="keybq">
                                        <p><span>关键字</span>：<a class="label label-default">个人博客</a><a class="label label-default">阿里云</a><a class="label label-default">空间</a></p>
                                    </div>



                                </div>
                            </div>

                        </div>

                        <!--<div class="col-xs-1"></div>-->
                    </div>
                </div>


            </div>
        </div>
        <!-- Wrapper for slides End -->



        <!-- Start Hero -->

        <!-- Features End -->

    </div>

    <!-- Footer -->

</div>



</div>	<!-- This end div for main class -->
</div>

<div class="clearfix"></div>


<!-- Scroll to top -->
<!--<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>-->


<!-- Javascript files -->
<!-- jQuery -->

</body>

<script src="../../indexTwo/js/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="../../indexTwo/js/bootstrap.min.js"></script>
<!-- jquery Anchor JS -->
<script src="../../indexTwo/js/jquery.arbitrary-anchor.js"></script>
<!-- jQuery way points -->
<script src="../../indexTwo/js/custom.js"></script>

<script src="../../indexTwo/js/respond.min.js">

</script><script type="text/javascript">
    window.onload = function () {

        $("title").html("<%=title%>");

//当前窗口得到焦点
        window.onfocus = function() {
            $("title").html("诶，又好了");
            setTimeout(function () {
                $("title").html("");
            },300)

        };

        //当前窗口失去焦点
        window.onblur = function() {
            $("title").html("居然崩溃了！！！");
            //暂停动画或视频
        };

    }

</script>

<script>

</script>

</html>