<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <title><%=title%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" id="title" placeholder="title" aria-describedby="basic-addon1">
        <input type="text" class="form-control" id="content" placeholder="content" aria-describedby="basic-addon1">
        
    </div>
<button class="btn btn-primary" id="commit">提交</button>
</body>
<script type="text/javascript">
    window.onload = function () {


        $("#commit").click(function () {
            var date = new Date();
//            var data ={
//                date :date,
//                title : $("#title").val(),
//                content : $("#content").val()
//            };

//            alert("date"+":"+data.date+"\n"+"title" +":"+data.title+"\n"+"content" +":"+data.content );
            $.ajax({
                type: "POST",
                url: "./writeBlog",
                dataType: "json",
                data: {
                    date :date,
                    title : $("#title").val(),
                    content : $("#content").val()
                },
                success: function (data){
                }
            })




        })
    }
</script>
</html>