*{
    margin: 0;
    padding: 0;
}
.body{
    background-color: #117a8b;
    /*background-color: #F2FAFF;*/
}

.left-empty{
    display: none;
}
.remote-square{
    width: 400px;
    height: 550px;
    float: left;
}

.local-square{
    width: 400px;
    height: 550px;
    float: left;
}
.local-Title{
    font-size: 30px;
    margin: 20px auto;
    color: white;
}

.local-game{
    width: 202px;
    height: 402px;
    position: relative;
    background-color: #ddd;
    /*margin: 0 auto;*/
    float: left;
    /*background-color: #F2FAFF;*/
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: none;
}
.local-next{
    width: 82px;
    height: 82px;
    position: relative;
    float:left;
    margin-left: 40px;
    background-color: #ddd;
    border: 1px solid black;
}
.local-info{
    color: white;
    float: left;
    width: 80px;

    margin-top: 10px;
    margin-left: 40px;
    /*border: 1px solid blue;*/

}

.local-playerInfo{
    width: 150px;
    height: 150px;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    /*background-color: black;*/
    z-index: 100;
}

.local-playerInfo img{
    width:100px;
    height:100px;
}




.remote-Title{
    font-size: 30px;
    margin: 20px 20px 20px 200px;
    color: white;
}

.remote-game{
    width: 202px;
    height: 402px;
    position: relative;
    background-color: #ddd;
    /*margin: 0 auto;*/
    float: right;
    /*background-color: #F2FAFF;*/
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: none;
}
.remote-next{
    width: 82px;
    height: 82px;
    position: relative;
    float:left;
    margin-left: 40px;
    background-color: #ddd;
    border: 1px solid black;
}
.remote-info{
    color: white;
    float: right;
    width: 80px;

    margin-top: 10px;
    margin-left: 40px;
    /*border: 1px solid blue;*/

}

.remote-playerInfo{
    width: 150px;
    height: 150px;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    /*background-color: black;*/
    z-index: 100;
}
.remote-playerInfo img{
    width:100px;
    height:100px;
}




.none,.current,.done{
    width: 20px;
    height: 20px;
    position: absolute;
    box-sizing: border-box;
    float: left;
}
.none{
    /*background-color: #F2FAFF;*/
    /*background: url(./Eimg/fangkuai.png);*/
    /*background-size:140px 20px;*/
    /*background-position: 40px 0px;*/
    background-color: #ddd;
}
.current{

    background: url(../Eimg/fangkuai.png);
    background-size:140px 20px;
    background-position: 120px 0px;
    /*background-color: pink;*/
    /*border: 1px solid red;*/
}
.done{
    background: url(../Eimg/fangkuai.png);
    background-size:140px 20px;
    background-position: 20px 0px;

    /*background-color: gray;*/
    /*border: 1px solid black;*/
}

/*按钮*/
.ownBtn{
    font-size: 40px;
}
.btn{
    border-radius: 40px;
}
.controlBtns{
    display: none;
}
.btn-circle {

    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}


@media screen and (max-width:640px) {
    .local-square{
        /*margin-left: 30px;*/
        width: 200px;
        height: 300px;
        float: left;
    }



    .local-Title{
        font-size: 20px;
        margin: 20px auto;
        color: white;
    }

    .local-game{
        width: 102px;
        height: 202px;
        position: relative;
        background-color: #ddd;
        /*margin: 0 auto;*/
        float: left;
        /*background-color: #F2FAFF;*/
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border-top: none;
    }
    .local-next{

        display: none;
        width: 82px;
        height: 82px;
        position: relative;
        float:left;
        /*margin-left: 40px;*/
        background-color: #ddd;
        border: 1px solid black;
    }
    .local-info{
        color: white;
        float: left;
        width: 80px;

        /*margin-top: 10px;*/
        margin-left: 10px;
        /*border: 1px solid blue;*/

    }

    .local-playerInfo{
        width:70px;
        height: 50px;
        float: left;
        margin-top: 0px;
        margin-left: 0px;
        /*background-color: black;*/
        /*z-index: 100;*/
    }

    .local-playerInfo img{
        margin-left: 0px;
        padding-left: 10px;
        float: left;
        width: 50px;
        height: 40px;
    }
    .local-playerInfo h4{
        width: 60px;
        font-size: 5px;
    }
/*对方游戏池*/

    .remote-square{
        margin-left: 70px;
        width: 120px;
        height: 300px;
        float: left;
    }
    .remote-Title{
        font-size: 20px;
        margin: 20px 0px 20px -5px;
        color: white;
    }

    .remote-game{
        width: 102px;
        height: 202px;
        position: relative;
        background-color: #ddd;
        /*margin: 0 auto;*/
        float: left;
        /*background-color: #F2FAFF;*/
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border-top: none;
    }
    .remote-next{

        display: none;
        width: 82px;
        height: 82px;
        position: relative;
        float:left;
        /*margin-left: 40px;*/
        background-color: #ddd;
        border: 1px solid black;
    }
    .remote-info{
        color: white;
        float: left;
        width: 80px;

        margin-top: 110px;
        margin-left: -180px;
        /*border: 1px solid blue;*/

    }

    .remote-playerInfo{
        width:70px;
        height: 50px;
        float: left;
        margin-top: 150px;
        margin-left: -190px;
        /*background-color: black;*/
        /*z-index: 100;*/
    }

    .remote-playerInfo img{
        margin-left: 0px;
        padding-left: 10px;
        float: left;
        width: 50px;
        height: 40px;
    }
    .remote-playerInfo h4{
        width: 60px;
        font-size: 5px;
    }








    .controlBtns{
        display:block;
        float: left;
    }
    .none,.current,.done{
        width: 10px;
        height: 10px;
        position: absolute;
        box-sizing: border-box;
        float: left;
    }
    .none{
        /*background-color: #F2FAFF;*/
        /*background: url(./Eimg/fangkuai.png);*/
        /*background-size:140px 20px;*/
        /*background-position: 40px 0px;*/
        background-color: #ddd;
    }
    .current{

        background: url(../Eimg/fangkuai.png);
        background-size:70px 10px;
        background-position: 60px 0px;
        /*background-color: pink;*/
        /*border: 1px solid red;*/
    }
    .done{
        background: url(../Eimg/fangkuai.png);
        background-size:70px 10px;
        background-position: 10px 0px;

        /*background-color: gray;*/
        /*border: 1px solid black;*/
    }

    .ownBtn{
        font-size: 80px;
    }

    .btn-circle {

        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
    .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
    }
    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 35px;
    }

}