.square{
    width: 400px;
    height: 600px;
    float: left;
}

.Title{
    font-size: 30px;
    margin: 20px auto;
}

.game{
    width: 200px;
    height: 400px;
    position: relative;

    /*margin: 0 auto;*/
    float: left;
    background-color: #F2FAFF;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
}
.next{
    width: 80px;
    height: 80px;
    position: relative;
    float:left;
    margin-left: 40px;
    background-color: #F2FAFF;
    border: 1px solid blue;
}
.info{

    float: left;
    width: 80px;
    margin-top: 10px;
    margin-left: 40px;
    /*border: 1px solid blue;*/

}
.none,.current,.done{
    width: 20px;
    height: 20px;
    position: absolute;
    box-sizing: border-box;
    float: left;
}
.none{
    background-color: #F2FAFF;
}
.current{
    background-color: pink;
    border: 1px solid red;
}
.done{
    background-color: gray;
    border: 1px solid black;
}