*{
    margin: 0;
    padding: 0;
}
.body{
    background-color: #117a8b;
}
.remote-square{
    width: 400px;
    height: 550px;
    float: left;
}

.local-square{
    width: 400px;
    height: 550px;
    float: left;
}
.Title{
    font-size: 30px;
    margin: 20px auto;
    color: white;
}

.game{
    width: 202px;
    height: 402px;
    position: relative;
    background-color: #ddd;
    /*margin: 0 auto;*/
    float: left;
    /*background-color: #F2FAFF;*/
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: none;
}
.next{
    width: 82px;
    height: 82px;
    position: relative;
    float:left;
    margin-left: 40px;
    background-color: #ddd;
    border: 1px solid black;
}
.info{
    color: white;
    float: left;
    width: 80px;

    margin-top: 10px;
    margin-left: 40px;
    /*border: 1px solid blue;*/

}
.none,.current,.done{
    width: 20px;
    height: 20px;
    position: absolute;
    box-sizing: border-box;
    float: left;
}
.none{
    /*background-color: #F2FAFF;*/
    /*background: url(./Eimg/fangkuai.png);*/
    /*background-size:140px 20px;*/
    /*background-position: 40px 0px;*/
    background-color: #ddd;
}
.current{

    background: url(./Eimg/fangkuai.png);
    background-size:140px 20px;
    background-position: 120px 0px;
    /*background-color: pink;*/
    /*border: 1px solid red;*/
}
.done{
    background: url(./Eimg/fangkuai.png);
    background-size:140px 20px;
    background-position: 20px 0px;

    /*background-color: gray;*/
    /*border: 1px solid black;*/
}

/*按钮*/
.ownBtn{
    font-size: 40px;
}
.btn{
    border-radius: 40px;
}
.btn-circle {

    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}